div {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h1 {
    text-align: center;
}

table {
    border-collapse: collapse; /* CSS2 */
    background: #FFFFF0;
}
 
table td {
    border: 1px solid black;
}
 
table th {
    border: 1px solid black;
    background: #F0FFF0;
}